<header class="header">
    <nav class="navigation">
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-a" href="/"><h2>Home</h2></a></li>
            <% if(check==true){ %>
                <li class="nav-li"><a class="nav-a" href="/login/logout"><h2>LogOut</h2></a></li>
                <li class="nav-li"><a class="nav-a" href="/additem"><h2>additem</h2></a></li>
                <li class="nav-li"><a class="nav-a" href="/test"><h2>test</h2></a></li>
            <% } %>
            <% if(check==false){ %>
                <li class="nav-li"><a class="nav-a" href="/login"><h2>Login</h2></a></li>
                <li class="nav-li"><a class="nav-a" href="/regist"><h2>Registration</h2></a></li>
            <% } %>
        </ul>
    </nav>
</header>